.nav-scrolled {
  box-shadow: 0 11px 16px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 11px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 11px 16px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  transform: scaleY(1.05);
}

@font-face {
  font-family: 'Averta-ExtraBold';
  src: local('Averta'), url(./fonts/averta/AvertaStd-ExtraBold.ttf) format('truetype');
}

.link{
  color: #272727;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-family: Averta-ExtraBold;
}